@import '../../style/color.scss';

.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: flex-start;
  margin: 2em 0;
}

.projects-empty  {
  border: 1px solid $red;
  border-radius: 8px;
  padding: 1.75em 2em;
  margin: 2em 0 3em 0;
}

.loading-indicator {
  margin-top: 1em;
}