.portfolio-detail {
  ul {
    margin-bottom: 2em;
    li {
      font-size: 18px;
    }
  }
}

.portfolio-p {
  margin-bottom: 2em;
  font-size: 18px;
}

.img-regular {
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
  max-width: 45%;
}

.img-mobile {
  max-width: 200px;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
}